body{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
}
.par{
  text-align: left;
  font-size: 130%;
  font-family: sans-serif;
}
.par2{
  font-size: 130%;
  text-align: right;
  font-family: sans-serif;
}
.main-icon-layout{
  width: 80%;
}
.link-cont{
  /*width: 71vw;*/
  height: 16vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 5px;
}
.imgBox{
  height: 135;
  border: 5px;
}
.footer{
  border-top: 2px solid black;
  text-align: center;
}
.uniUl{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
li{
  margin-right: 10px;
  margin-left: 10px;
}
img{
  height: auto;
  width:auto;
}
a{
  color: rgb(33, 109, 163);
  text-decoration: none;
}
